// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$my_green: #109034;
$my_black: #0A0F13;
$my_white: #DBE9EE;
$my_orange: #F28F3B;
$my_blue: #166088;
$my_banner_blue: #6984ae;
