.amort h3 {
  font-size: 18px;
  font-weight: bold;
}

.amort_info1 {
  margin-bottom: 30px;
  border: 3px solid $my_green;
  font-size: 16px;
  td {
    padding: 5px;
    border: 1px solid $my_green;
    text-align: left;
  }
}
.amort_info2 {
  margin-bottom: 30px;
  border: 3px solid $my_green;
  text-align: right;
  font-size: 16px;
  td {
    padding: 5px;
    border: 1px solid $my_green;
    text-align: left;
  }
}

.amort .fa-trash {
  font-size: 30px;
  color: $my_green;
  opacity: 0.6;
  padding: 20px;
}
.amort .fa-trash:hover {
  opacity: 1;
}

.amort_table {
  border: 3px solid $my_green;
  border-spacing: 0.25rem;
  padding: 0.25rem;
  border-collapse: collapse;
  vertical-align: middle;
  font-size: 14px;
}

.title_table {
  color: $my_green;
  border: 3px solid $my_green;
  font-size: 16px;
  th {
    padding: 5px;
    border: 1px solid $my_green;
  }
}

.line_table {
  align: center;
  color: black;
  border: 1px solid $my_green;
  text-align: center;
  td {
    border: 1px solid $my_green;
  }
  td:hover {
    background: $my_green;
  }
}


.btntokeep {
  color: $my_green;
  font-weight: bold;
  font-size: 18px;
  height:  50px;
  width: 150px;
}
